<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida. Ut tristique et egestas quis ipsum. In egestas erat imperdiet sed. Aenean et tortor at risus viverra adipiscing at in tellus. Morbi quis commodo odio aenean. In egestas erat imperdiet sed euismod nisi. Luctus accumsan tortor posuere ac ut consequat semper. Turpis massa sed elementum tempus egestas sed sed. Aliquam ultrices sagittis orci a scelerisque purus semper eget. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Ipsum nunc aliquet bibendum enim facilisis gravida neque. Quam pellentesque nec nam aliquam sem et tortor. Duis at consectetur lorem donec massa sapien faucibus. Varius morbi enim nunc faucibus a pellentesque sit.
    </p>
    <p>
        Cras pulvinar mattis nunc sed blandit libero. Lacinia quis vel eros donec. Eu augue ut lectus arcu bibendum at varius vel pharetra. Eu turpis egestas pretium aenean. Tincidunt ornare massa eget egestas. Porttitor eget dolor morbi non arcu risus quis varius quam. Neque aliquam vestibulum morbi blandit cursus risus at ultrices. Magna ac placerat vestibulum lectus mauris ultrices. Nisi quis eleifend quam adipiscing vitae proin. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Volutpat lacus laoreet non curabitur gravida arcu ac tortor. Orci ac auctor augue mauris augue neque gravida. Turpis egestas integer eget aliquet. Dis parturient montes nascetur ridiculus mus mauris. Eu scelerisque felis imperdiet proin fermentum leo vel orci. Sed nisi lacus sed viverra tellus in hac. Tempus quam pellentesque nec nam aliquam sem. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim.
    </p>
    <p>
        Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Molestie at elementum eu facilisis sed odio. Malesuada bibendum arcu vitae elementum curabitur vitae nunc. At quis risus sed vulputate odio ut enim blandit volutpat. Dolor magna eget est lorem ipsum. Mauris a diam maecenas sed enim ut. Laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean. Viverra vitae congue eu consequat ac felis donec. Sem et tortor consequat id porta nibh venenatis. Eget nullam non nisi est sit amet facilisis. Interdum velit laoreet id donec ultrices tincidunt arcu.
    </p>
    <img class="game-poster-banner" src="images/poster_banner.webp" alt="gtavc-poster-banner">
    <p>
        Eu nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Facilisis volutpat est velit egestas dui id. Facilisis magna etiam tempor orci eu lobortis elementum nibh. Sodales ut etiam sit amet nisl purus. Dictum sit amet justo donec enim diam. Eget dolor morbi non arcu. Quis vel eros donec ac. Aenean euismod elementum nisi quis eleifend quam adipiscing. Morbi tristique senectus et netus et malesuada fames. A diam sollicitudin tempor id.
    </p>
    <p>
        Elit scelerisque mauris pellentesque pulvinar pellentesque. Blandit massa enim nec dui nunc mattis enim ut tellus. Ut consequat semper viverra nam libero justo laoreet sit. Justo eget magna fermentum iaculis eu non diam. In hac habitasse platea dictumst quisque sagittis. Posuere morbi leo urna molestie at elementum eu facilisis sed. Sit amet nisl suscipit adipiscing bibendum est. Leo vel orci porta non pulvinar neque laoreet suspendisse interdum. Sed augue lacus viverra vitae congue eu consequat. Dignissim diam quis enim lobortis scelerisque fermentum. Facilisi nullam vehicula ipsum a arcu. Magna fermentum iaculis eu non diam. Eleifend donec pretium vulputate sapien nec sagittis. Id aliquet lectus proin nibh nisl condimentum id venenatis a. Montes nascetur ridiculus mus mauris vitae. Enim neque volutpat ac tincidunt vitae semper quis.
    </p>
    <script src="script/main-bundled.js"></script>
</body>
</html>