<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentation Module</title>
    <link rel="stylesheet" href="style/presentation-module.css">
</head>

<body>
    <header class="header">
        <h1>Presentation Module </h1>
        <button class="add-product"> Add Product </button>
    </header>

    <div class="products-wrapper">
        <div class="all-products">
            <h1 class="title"> Products </h1>

            <div class="all-products-list">

                <!-- <div class="single-product-name">
                    <h2>Product 1</h2>
                </div> -->
            </div>
        </div>

        <div class="single-product">
            <h1 class="title"> Product Info </h1>

            <div class="single-product-info-wrapper">
                <div class="single-product-info">

                </div>


            </div>
        </div>

    </div>

    <div class="add-products">
        Add Product

        <form action="">
            <input type="text" name="productName" placeholder="Product Name">
        </form>
    </div>

    <script src="script/main-bundled.js"></script>
</body>

</html>